body{
    background-color: #F0F0F0;
}

#pic1{
    width: 400px;
    height: 800px;
}

#pic2{
    width: 400px;
    height: 800px;
}

#pic3{
    width: 400px;
    height: 800px;
}
h1{
    text-align: center;
}


table, th, td{
        border: 2px solid black;
        border-radius: 25px;
      }
table, th{
    text-align: center;
}      
body{
    background-color: aquamarine;
}
table{
    background-color: brown;
    color:black;
}
form {
    border: 4px solid #f1f1f1;
  }

  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  

  input[type=checkbox] {
    margin-top: 16px;
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
