body{
    background-color: #F0F0F0;
}

#pic1{
    width: 400px;
    height: 800px;
}

#pic2{
    width: 400px;
    height: 800px;
}

#pic3{
    width: 400px;
    height: 800px;
}
h1{
    text-align: center;
}


table, th, td{
        border: 2px solid black;
        border-radius: 25px;
      }
table, th{
    text-align: center;
}      
body{
    background-color: aquamarine;
}
table{
    background-color: brown;
    color:black;
}
