body{
    background-color: #F0F0F0;
}

#pic1{
    width: 400px;
    height: 800px;
}

#pic2{
    width: 400px;
    height: 800px;
}

#pic3{
    width: 400px;
    height: 800px;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
}


table, th, td{
    border: 0px solid black;
    border-radius: 10px;
}
table, th{
    text-align: center;
}

table{
    background-color: brown;
    color:black;
}

.tg{
    margin-left: auto;
    margin-right: auto;
}

.nevsor, li{
    text-align: center;
}